
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-image:url(./img/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    font-family:'Orbitron',sans-serif;
    color: rgb(222, 168, 97);
    margin: 0;
    padding: 0;
}
ul li{
list-style-type: none;
}



.login{
    display: flex;
    
    justify-content: space-around;
}

section{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color:white;
}
form{
    padding:40px;
    border:2px solid transparent;
    box-shadow: 2px 2px 5px rgba(4, 210, 242, 0.771),
     -2px -1px 5px rgba(24, 242, 238, 0.3);
    border-radius: 30px;
    background: transparent;
    backdrop-filter: blur(20px);
}
.si .inp-box{
    margin:0;
    width:100%;
    margin: 20px 0;
    position: relative;
    background-color: black;
    color:#fff
    
}
.pass{
    font-weight: bold;
}

.si input{
    border:none;
    border-radius:50px;
    border:2px solid rgba(127, 72, 235, 0.359);
}
.si i{
    background-color: #000;
    color:rgb(255, 255, 255);
    position:absolute;
    right:50px;
    /* top:360px; */
    transform:translateY(-50px)
}
.si .remm{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.si .sub{
    padding:10 20px;
    margin:0 auto;
}
.fp {
  color: red;
  font-weight: 700;
  border-left: 4px solid red;
  border-right: 4px solid red;
  border-block: 3px solid pink;
  border-radius: 20px;
  padding: 2px;
}
.si a:hover {
  color: rgb(213, 0, 241);
  border-block: 3px solid rgb(147, 147, 193);
}
.nav-link:hover{
    text-shadow: #FC0 1px 0px 10px;}
header{
        position: sticky;
        top:0px;
        z-index:10
    }
    .img-wt1{
        width:100%;
        height:100%
    }
    #abt{
        padding-inline: 20px;
        
        background:transparent;
        /* background-color: #fff; */
        backdrop-filter: blur(15px);
       
font-weight: 600;
        
        padding-top:20px;
    }
    #abt p{
        /* text-decoration: underline; */
        font-size:20px;
    }
    #abt h1{
        text-decoration: underline;

    }
    .footer a{
        color:#FC0;

    }
    .footer a:hover{
        color:rgb(5, 182, 222);
        border-bottom:1px solid #00dfdf;

    }
   .grid img{
    width:70%;
    height:100%;
   } 
   @media (min-width:375px) and (max-width:767px){
    .grid img{
        width:100%;
        padding:10px;
        height:30vh;
    }
   }  
   
   @media (min-width:320px) and (max-width:375px){
    .grid img{
        width:100%;
        padding:10px;
        height:30vh;
    }
    @media (min-width:320px) and (max-width:375px){
        #abt,.grid{
           display: block;
        }
    }
    @media (min-width:320px) and (max-width:375px){
        .grid img{
           width:75vw;
padding-inline:30px;
        }
    }
    #abt p{
        font-size:13px;
    }
   }  
   @media (min-width:768px) {
    .grid img{
        width:100%;
        padding:10px;
        height:30vh;
    }
    #abt img{
        width:100%;
        padding:10px;
        height:100%;

    }
   }  
 @media (min-width:2560px){
    #abt p{
        font-size:36px;
    }
    footer div{
       font-size:2rem;
       text-align: center;
       font-weight: bold;
    }
    header{
        font-size:2rem;
    }
    form,.form-label,form a{
        font-size:2rem;
    }

    .si i{
        
        right:50px;
        /* top:360px; */
        transform:translateY(-56px)
 }
 .si .sub{
    width: 32%;
    height: 100px;
    font-size: 2rem; }
 }
    footer{
        font-size:15px;
background: transparent;
backdrop-filter: blur(20px);
background-color: rgb(51, 51, 51);
padding: 20px;
    }
    footer li{
        list-style-type: none;
    }
    footer h2{
        color:rgb(143, 124, 238)
    }
    section{
        padding-bottom:20px;
    }
    footer h5{
        font-size: 15px;
    }
    .copy{
        font-size:13px;
        background-color: grey;
        color:#282525
    }
    footer h4{
        background: -webkit-linear-gradient(#00dfdf, #dc02eb);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #abt h1{
        background: -webkit-linear-gradient(#a6a5b7, #02eb82);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    footer .display-5{
        font-size:26px;
        font-weight: 900;
    }    
    .logo{
        padding:10px;
        font-size: 30px;
    }
  
    .bx.bxl-twitter::before{
        content:'𝕏';
    }
